@layer base {
	:root {
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --color-bg: #FAFAFF;
    --color-bg-alt: #EBEFF4;
    --color-neutral: #E2E8F0;
    --color-accent: #93BCED;
    --color-accent-alt: #D2E7FA;
    --color-shadow: #0064C840;

		@apply
			min-h-screen
      bg-[var(--color-bg)]
      ;
	}
}

